[MAIN]
extension-pkg-whitelist=cv2

# auto detect number of processors available for use
jobs = 0

[TYPECHECK]
ignored-modules=numpy

[FORMAT]
max-line-length=130

[MESSAGES CONTROL]
disable=
      R,
      C,
      fixme,
      assignment-from-no-return  # https://github.com/PyCQA/pylint/issues/2694


ignore-patterns=mypy.ini